rust/target

android/.gradle
android/build
android/app/build
android/buildSrc/build
android/buildSrc/.gradle
android/.idea
android/local.properties
android/app/src/main/jniLibs

.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
